<li [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': this.post.loveIts > 0,
    'list-group-item-danger': this.post.loveIts < 0
  }">
  <div class="d-flex justify-content-between">
    <h2>
      {{ this.post.title }}
    </h2>
    <span class="font-italic text-secondary">{{ this.post.createdAt | date: 'MM/dd/yyyy, hh:mm a' }}</span>
  </div>
  <p>
    {{ this.post.content }}
  </p>
  <div>
    <span class="container">
      <button class="btn btn-success" (click)="onLoveClick()">
        Love !!!
      </button>
    </span>
    <span class="container">
      <button class="btn btn-danger" (click)="onDislikeClick()">
        Don't love !!!
      </button>
    </span>
  </div>
</li>